name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 允许手动触发

env:
  DOCKER_IMAGE: lucaslifes/lucasprivatehub
  DOCKER_TAG: eyesoncalendar

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: PrivateDockerHubEnv

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

    
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

